*.terraform.lock.hcl
*.terraform/modules/modules.json
*terraform.tfstate.backup
*terraform.tfstate
*.terraform/providers/registry.terraform.io/hashicorp/aws/5.25.0/linux_amd64/terraform-provider-aws_v5.25.0_x5
*.terraform.tfstate.lock.info
*terraform.tfstate
*.terraform/providers/registry.terraform.io/hashicorp/aws/5.26.0/linux_amd64/terraform-provider-aws_v5.26.0_x5
aws/aws_simple/.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/linux_amd64/terraform-provider-template_v2.2.0_x4
aws/aws_simple/.terraform/providers/registry.terraform.io/hashicorp/aws/5.26.0/linux_amd64/terraform-provider-aws_v5.26.0_x5
aws/aws_simple/.terraform/terraform.tfstate
aws/example-backend/terraform.tfstate
aws/aws_vpc_peering/.terraform.lock.hcl
aws/aws_vpc_peering/terraform.tfstate
.gitignore
aws/aws_vpc_peering/.terraform/providers/registry.terraform.io/hashicorp/aws/5.26.0/linux_amd64/terraform-provider-aws_v5.26.0_x5
aws/aws_vpc_peering/.terraform/terraform.tfstate
aws/s3/.terraform/providers/registry.terraform.io/hashicorp/aws/5.26.0/linux_amd64/terraform-provider-aws_v5.26.0_x5
