aws/aws_simple/.terraform/modules/modules.json
aws/aws_asg/.terraform.lock.hcl
aws/aws_asg/.terraform/terraform.tfstate
aws/aws_asg/.terraform/modules/modules.json
aws/aws_asg/.terraform/providers/registry.terraform.io/hashicorp/aws/5.26.0/linux_amd64/terraform-provider-aws_v5.26.0_x5
aws/aws_vpc_peering/.terraform.lock.hcl
aws/aws_vpc_peering/.terraform/terraform.tfstate
aws/aws_vpc_peering/.terraform/providers/registry.terraform.io/hashicorp/aws/5.26.0/linux_amd64/terraform-provider-aws_v5.26.0_x5
aws/s3/.terraform.lock.hcl
aws/s3/terraform.tfstate
aws/s3/terraform.tfstate.backup
aws/s3/.terraform/providers/registry.terraform.io/hashicorp/aws/5.26.0/linux_amd64/terraform-provider-aws_v5.26.0_x5
